<%- include('header') -%>
<body>
    <section class="vh-100">
    <form action="/" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                  <div class="card-body py-4 px-4 px-md-5">
        
                    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                      <!-- used binding which gives output from server to home page -->
                      <u><%= listTitle %> To-do List</u>                      

                    </p>
        
                    <div class="pb-2">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-row align-items-center">
                            <input type="text" name="todo" class="form-control form-control-lg" id="exampleFormControlInput1"
                              placeholder="Add new...">
                            <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i
                                class="fas fa-calendar-alt fa-lg me-3"></i></a>
                            <div>
                              <button type="submit" name="list" value=<%= listTitle %> class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
    </form>
    
    <hr class="my-4">
    <!-- for loop using ejs -->
    <% for(var i=0;i< newItemList.length;i++){%>
        <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
            <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check">
                    <input class="form-check-input me-0" type="checkbox" value="" name="check" id="flexCheckChecked1"
                      aria-label="..."  />
                <p class="lead fw-normal mb-0 " id="newItem"><%= newItemList[i] %></p>
                </div>
            </li>           
        </ul>
    <%}%> 

</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
<%- include('footer') -%>
